li {
		list-style-type: upper-alpha;
}
header.navbar {
		margin-bottom: 5px;
}
.page-header {
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #CCC;
		width: inherit;
		position: fixed;
		border: 0;
}